.logo__item {
  margin-bottom: 0;
  position: relative;
  top: -2px;
}
.header-top {
  padding-top: rem(50px);


}
.logo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 260px;
}


.nav-box {
  display: flex;
  justify-content: space-around;

  @include e(item) {
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
   }
} // nav-box

.slogan {
  margin-bottom: 100px;
}

.slogan-text {
  margin-bottom: 260px;
}

.scroll {
  width: 100px;
  height: 100px;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 40px;
  margin-right: 40px;
}