html {
  font-size: $baseFontSize;
}

body {
  font-family: $fontFamily;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content{
  flex: 1;
}
.container {
  max-width: 1124px;
  margin: auto;
  padding: 0 12px;
}